.idea/
node_modules

.env
.DS_Store

/scripts/input/*
/scripts/input/**/*
/scripts/output/*
/scripts/output/**/*
!/scripts/input/*.gitkeep
!/scripts/input/**/*.gitkeep
!/scripts/output/*.gitkeep
!/scripts/output/**/*.gitkeep

